:host {
  display: flex;
  height: inherit;
  max-height: inherit;

  & > * {
    overflow: auto;
    padding: 1rem;
  }
}

.section-title {
  width: 100%;
  min-height: 70px;
  padding-bottom: 1rem;
  border-bottom: 1px solid #888888;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.results-menu-sidebar {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;

  @media all and (max-width: 640px) {
    width: 40%;
  }
}

.results-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.result-details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 3px solid #333333;
  background-color: rgba(159, 159, 255, 0.95);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.75);

}

.single-result {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(204, 204, 204, 0.5);
  margin: 0.5rem auto;
  max-width: 90%;
  height: 45px;
  text-align: center;
  box-shadow: 0 0 8px rgba(84, 84, 84, 0.5);
  border-radius: 0.1rem;
  border: 1px solid transparent;
  text-transform: capitalize;
  color: #333333;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 150ms;

  // Played with scale and font-weight but results were odd
  // Effect should not change container size, since impacts others
  &:focus, &:hover {
    box-shadow: 0 0 8px rgba(84, 84, 84, 0.95);
    color: black;
    border: 1px solid rgba(159, 159, 255, 0.95);
    background-color: white;
  }

  &.active {
    background-color: rgba(159, 159, 255, 0.95);
    color: white;
    font-weight: bold;
    box-shadow: 0 0 8px #000;
    border: 1px solid #000;
  }
}
