<section class="results-menu-sidebar">
  <h3 class="section-title">List of all tables with standard measurements</h3>
  <!--  <section *ngIf="mainRoutesAvailable.length > 0" class="results-container">-->
  <section class="results-container">

    <button (click)="selectRoute($event)"
            class="single-result">
      Table 1
    </button>

    <button (click)="selectRoute($event)"
            class="single-result">
      Table 2
    </button>
    <button (click)="selectRoute($event)"
            class="single-result">
      Table 1
    </button>

    <button (click)="selectRoute($event)"
            class="single-result">
      Table 2
    </button>
    <button (click)="selectRoute($event)"
            class="single-result">
      Table 1
    </button>

    <button (click)="selectRoute($event)"
            class="single-result">
      Table 2
    </button>
    <button (click)="selectRoute($event)"
            class="single-result">
      Table 1
    </button>

    <button (click)="selectRoute($event)"
            class="single-result">
      Table 2
    </button>
    <button (click)="selectRoute($event)"
            class="single-result">
      Table 1
    </button>

  </section>
</section>

<section class="result-details-container">
  <h3 class="section-title">{{ endpoint }}</h3>

  <pre>
{{ selectedTable | json }}
  </pre>

</section>
