:host {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/x-men/dark-phoenix--small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.not-found {
  flex: 1;
  display: flex;
  //flex-direction: column;
  //justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  top: -70px;
  position: relative;
  color: #F44336;
  background-color: white;
}

.not-found--text {
  &:first-child{
    font-size: 6rem;
  }

  &:last-child{
    font-size: 2rem;
  }

}
