:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: inherit;
  max-height: inherit;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 80px);
  overflow: auto;

  @media all and (max-width: 640px) {
    max-height: calc(100vh - 96px);
  }
}
