nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid white;
  background-color: #333;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /*animated*/
  color: #b8b8b8;
  /*not animated*/
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;

  &.active {
    color: #FFEB3B;
  }
  &:hover {
    /*animated*/
    color: white;
    &.active {
      color: crimson;
    }

    /*TODO: DISABLED NOT IMPLEMENTED YET*/
    &.disabled::before {
      content: "⛔";
      color: crimson;
    }
  }



  @media all and (max-width: 640px){
    padding: 0 0 0 5px;
    border-left-width: 5px;
    background-color: transparent;
    border-radius: unset;
  }
}
