/*Default elements*/
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  user-select: none;
}

pre {
  color: #333333;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 0.8rem;
}
/*Global utilities*/

.hidden-on-desktop {
  display: none;
  @media all and (max-width: 640px) {
    display: flex;
  }
}

.loader {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
}
.loader:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
