body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  font-size: 16px;
  font-family: monospace;
  user-select: none;
}

/*temp*/
.demo-article {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
}
