<article class="demo-article">
  <h3 class="section-title">Lighthouse report as per 2019-03-27</h3>
  <img class="image" src="assets/images/lighthouse-report-2019-03-27.jpg" alt="report-2019-03-27">
  <h3 class="section-title bullet">Next step is to handle initial page load with either application shell or server-side rendering strategy (with hydration)</h3>
  <h3 class="section-title bullet">After that I could possibly work on styling pattern a bit more flexible, (for instance) using a different layout for large rectangular images that are not readable on mobile devices. In this case I would simply highlight the 5 score metrics (circles on the top).</h3>
</article>
