<article class="demo-article">

  <h1 class="section-title hidden-on-desktop">Calculator</h1>

  <!--  type of customer-->
  <label class="input-container">
    <span>Type of customer:</span>
    <select id="customer_type" name="customer_type"
            (input)="updateCalculation($event.target.name, $event.target.value)">
      <option
        *ngFor="let a of calculationOptions.CustomerType"
        value="{{ a }}"
      >
        {{ a }}
      </option>
    </select>
  </label>

  <!--  skylight model -->
  <label class="input-container">
    <span>Skylight model:</span>
    <select id="skylight_model" name="skylight_model"
            (input)="updateCalculation('skylight_model', $event.target.value)">
      <option
        *ngFor="let a of calculationOptions.SkylightModel"
        value="{{ a }}"
      >
        {{ a }}
      </option>
    </select>
  </label>

  <!--  OC dimensions -->
  <hr>
  <h2>OC dimensions</h2>
  <label class="input-container">
    <span>Width:</span>
    <input placeholder="50" type="number"
           [(ngModel)]="calculation.oc_width"
           (input)="updateCalculation('oc_width', $event.target.value)"
    >
  </label>
  <label class="input-container">
    <span>Height:</span>
    <input placeholder="50" type="number"
           [(ngModel)]="calculation.oc_height"
           (input)="updateCalculation('oc_height', $event.target.value)"
    >
  </label>

  <label class="input-container">
    <span>Area:</span>
    <input disabled type="text"
           [value]="calculation.oc_width * calculation.oc_height"
    >
  </label>
  <hr>

  <!--  Glazing type -->
  <label class="input-container">
    <span>Glazing type:</span>
    <select id="glazing_type" name="glazing_type">
      <option
        *ngFor="let a of calculationOptions.GlazingType"
        value="{{ a }}"
        (click)="updateCalculation('glazing_type', a)"
      >
        {{ a }}
      </option>
    </select>
  </label>

  <!--  Number of domes -->
  <label class="input-container">
    <span>Number of domes:</span>
    <select id="number_domes" name="number_domes">
      <option
        *ngFor="let a of calculationOptions.NumberDomes"
        value="{{ a }}"
        (click)="updateCalculation('dome_quantity', a)"
      >
        {{ a }}
      </option>
    </select>
  </label>

  <!--  Tinted glazing -->
  <label class="input-container">
    <span>Tinted glazing</span>
    <select id="tinted_glazing" name="tinted_glazing">
      <option value="Yes"
              (click)="updateCalculation('tinted_glazing', true)"
      >
        Yes
      </option>
      <option value="No"
              (click)="updateCalculation('tinted_glazing', false)"
      >
        No
      </option>
    </select>
  </label>

  <!--  Frame finishing -->
  <label class="input-container">
    <span>Frame finishing:</span>
    <select id="frame_finishing" name="frame_finishing">
      <option *ngFor="let a of calculationOptions.FrameFinishing" value="{{ a }}"
              (click)="updateCalculation('frame_finishing', false)"
      >
        {{ a }}
      </option>
    </select>
  </label>

  <!--  Price -->
  <hr>
  <label class="input-container price bigger">
    <span>Price:</span>
    <span>{{ calculation.price }}</span>
  </label>

  <!--  Oversize fee -->
  <hr>
  <label class="input-container price">
    <span>Oversize fee:</span>
    <span>{{calculation.oversize_fee}}</span>
  </label>

  <!--    Setup fee-->
  <hr>
  <label class="input-container price">
    <span>Setup fee:</span>
    <span>{{ calculation.setup_fee }}</span>
  </label>

</article>
