<article class="demo-article">

  <h1 class="section-title hidden-on-desktop">Calculator</h1>

  <!--  type of customer-->
  <label class="input-container">
    <span>Type of customer:</span>
    <select id="type_customer" name="type_customer">
      <option value="Contractor">Contractor</option>
      <option value="Retail">Retail</option>
      <option value="Dealer">Dealer</option>
    </select>
  </label>

  <!--  skylight model -->
  <label class="input-container">
    <span>Skylight model:</span>
    <select id="skylight_model" name="skylight_model">
      <option value="PVCCM">PVCCM</option>
      <option value="PVCSR">PVCSR</option>
      <option value="FF">FF</option>
      <option value="FFSR">FFSR</option>
    </select>
  </label>

  <!--  OC dimensions -->
  <hr>
  <h2>OC dimensions</h2>
  <label class="input-container">
    <span>Width:</span>
    <input placeholder="50" type="number" value="55">
  </label>
  <label class="input-container">
    <span>Height:</span>
    <input placeholder="50" type="number" value="55">
  </label>
  <hr>

  <!--  Glazing type -->
  <label class="input-container">
    <span>Glazing type:</span>
    <select id="glazing_type" name="glazing_type">
      <option value="Dome">Dome</option>
      <option value="Glass">Glass</option>
    </select>
  </label>

  <!--  Number of domes -->
  <label class="input-container">
    <span>Number of domes:</span>
    <select id="number_domes" name="number_domes">
      <option value="Single">Single</option>
      <option value="Double">Double</option>
      <option value="Triple">Triple</option>
    </select>
  </label>

  <!--  Tinted glazing -->
  <label class="input-container">
    <span>Tinted glazing</span>
    <select id="tinted_glazing" name="tinted_glazing">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </label>
  <!--  Frame finishing -->
  <label class="input-container">
    <span>Frame finishing:</span>
    <select id="frame_finishing" name="frame_finishing">
      <option value="Black">Black</option>
      <option value="Mill">Mill</option>
      <option value="Brown">Brown</option>
    </select>
  </label>

  <!--  Price -->
  <hr>
  <label class="input-container price bigger">
    <span>Price:</span>
    <span>$430</span>
  </label>

  <!--  Oversize fee -->
  <hr>
  <label class="input-container price">
    <span>Oversize fee:</span>
    <span>$40</span>
  </label>

  <!--  Setup fee -->
  <hr>
  <label class="input-container price">
    <span>Setup fee:</span>
    <span>$30</span>
  </label>

</article>
