:host {
  flex: 1;
  display: flex;
  height: 100%;
  background-color: #242424;
  color: whitesmoke;
}

.section-title {
  text-decoration: underline;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

hr {
  margin-bottom: 1rem;
}
//
//.box {
//  width: 50px;
//  height: 50px;
//  margin: 1rem;
//  background-color: crimson;
//  border-radius: 50%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  font-weight: bold;
//
//  &:first-of-type::after {
//    content: '1';
//  }
//
//  &:last-of-type::after {
//    content: '2';
//  }
//}
